<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <script type="text/javascript">
    $(document).ready(function() {
        $("body").css("display", "none");
        $("body").fadeIn(500);
    });
  </script>

  <div class='dateselectcontainer'>

  <form name='dateform' action='/date0'>
    <select name="dateselect0" id="dateselect" onchange="dateselecty()">
      {% for date in date_list %}
      <option value="{{ date }}">{{ date }}</option>
      {% endfor %}
    </select>
  </form>
</div>

  {% for i in range(plots|length) %}
  <div class='row'>
    <div class="lol">
    <h1>Sensor {{ id[i] }}</h1>
    <h1>{{ longname[i] }}</h1>
    </div>
    <div class='lol'>
    <div class="lol">
      {{ plots[i][0]|safe }}
  </div>
  <div class="lol">
    {{ plots[i][1]|safe }}
  </div>
</div>
  </div>
  <div class='splitline'></div>
  {% endfor %}


    <script>
    var url = window.location.pathname.split('/');
    console.log(url)
    var sel = document.getElementById("dateselect");
    sel.value = url[2];
    function dateselecty(){
        window.location = '/'+screen.width+'/'+sel.value;
    }
    </script>
    <script>history.replaceState(null, '', '/');</script>

  </body>
</html>
